* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: linear-gradient(180deg, #00041f, #00164d);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg,#087400,#00ad09);
    
}

.buttons {
    display: flex;
    gap: 10px;
   width: 250px;
}

button {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 7px;
    flex: 1;
}
button:hover{
    background-color: white;
    color: black;
}

label{
    width: 100%;
    margin-left: 7rem;
}

input,textarea{
    width: 250px;
}

input {
    padding: 7px;
    border-radius: 7px;
    background: transparent;
    border: 1px solid white;
}


input::placeholder {
    color: white;
    padding: 5px;
}

textarea{
    padding: 7px;
    background: transparent;
    border: 1px solid white;
    border-radius: 7px;
}
input:focus, textarea:focus {
    outline: none; /* Removes the browser's default focus outline */
    border: 1px solid white; /* Keeps the border color the same */
}
